<!--User Table -->
        <h3>Users </h3>
        <%= will_paginate %>
        <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">User Status</th>
          <th scope="col">Admin Status</th>
          <th scope="col">Delete</th>
          <!--<th scope="col">Edit</th>-->
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <% if user.admin? %>
                <td>Admin</td>
            <% else %>
                <td>Regular User</td>
            <% end %>
            <!--<td><%#= link_to 'Edit', "#" %></td>-->
            <% if user.id == 1 %>
              <td><b>Cannot change status</b></td>
              <td><b>Cannot delete</b></td>
            <% else %>
              <td>
                <%= form_for user do |f| %>
                  <%= f.label :admin, "No", :value => "false" %>
                  <%= f.radio_button :admin, "0", :checked => true %>
                  <%= f.label :admin, "Yes", :value => "true" %>
                  <%= f.radio_button :admin, "1" %>
                  <%= f.submit "Update", class: "btn btn-primary",id: "update-admin-btn" %>
              </td>
              
                  
                <% end %>
              <%#= select_tag(:location, options_from_collection_for_select(User.all, :id, :name), selected: :location)%>
              <td><%= link_to 'Delete', user, method: :delete, data: { confirm: "You sure?" } %></td>
            <% end %>
          </tr>
       
      </tbody>
       <% end %>
       
    </table>
<%= will_paginate %>