<!--Product Units Table -->
        <h3>All Borrowed Units </h3>
        <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">VSU Tag</th>
          <th scope="col">Model</th>
          <th scope="col">Brand</th>
          <th scope="col">Condition</th>
          <th scope="col">Location</th>
          <!--<th scope="col">Edit</th>-->
          <th scope="col">Return Manually</th>
        </tr>
      </thead>
      <tbody>
        <% Unit.all.each do |unit| %>
          <tr>
            <% if unit.location != "storage" %>
                <td><%= unit.name_id %></td>
                <td><%= unit.vsu_id %></td>
                <td><%= unit.product_type.model %></td>
                <td><%= unit.product_type.brand %></td>
                <td><%= unit.condition %></td>
                <td><%= unit.location %></td>
                <!--<td><%#= link_to 'Edit', "#" %></td>-->
                <td><%= link_to 'Return Manually', returnManually_unit_path(unit), method: :patch %></td>
              </tr>
          <%end%>
        <% end %>
      </tbody>
    </table>